:root {
  --bg-color: #f4f7f6;
  --card-bg: #ffffff;
  --text-color: #333333;
  --nav-bg: #ffffff;
}

body.dark-mode {
  --bg-color: #121212;
  --card-bg: #1e1e1e;
  --text-color: #f0f0f0;
  --nav-bg: #1e1e1e;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s ease;
}